:root {
  --selection-width: 20px;
  --instrument-labels-width: 150px;
  --maker-height: calc(var(--selection-width) * 20 );
}

.maker-container {
  max-width: var(--width);
  position: relative;
  background-color: white;
  overflow-x: scroll;
  overflow-y: hidden;
  display:inline-block;
}

.label-wrapper {
  display: inline-flex;
}

.label {
  width: calc(4 * var(--selection-width));
  display: inline-flex;
}

.instruments {
  width: var(--instrument-labels-width);
  float: left;
  position: fixed;
  z-index: 2;
  background-color: white;
  margin: 8px;
  padding-right: 8px;
}
.instruments>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.instruments>ul>li {
  height: var(--selection-width);
  color: #444; 
  font-size: 15px;
  text-align: right;
}

.track-container {
  float: left;
  position: relative;
  left: var(--instrument-labels-width);
  margin: 20px;
}

.segment-container {
  padding: 0;
  margin: 0;
  height: var(--maker-height);
  width: 100%;
  position: relative;
  background-image:
  repeating-linear-gradient(#444 0 2px, transparent 2px 100%),
  repeating-linear-gradient(90deg, #444 0 2px, transparent 2px 100%);
  background-size: var(--selection-width) var(--selection-width);
background-position: bottom 1px right 1px;
}

.playState {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}


.segment {
  background-color: #444;
  /* border: white solid 1px; */
}

.segment.active {
  background-color: cyan;
}

button {
  border-color: white;
  border-style: solid;
  border-radius: 10;
  background-color:#444;
  color: white;
  height: 30px;
  width: 60px;
}