:root {
  --selection-width: 40px;
  --instruments-width: 250px;
}

.maker-container {
  /* max-width: 1141px; */
  width: calc(var(--selection-width) * 10 * 4 + var(--instruments-width));
  position: relative;
  /* height: 400px; */
  /* width: 100%; */
  /* justify-content: right; */
  background-color: white;
  /* overflow: hidden; */
  display:inline-block;
}

.label-wrapper {
  display: inline-flex;
}

.label {
  width: calc(4 * var(--selection-width));
  display: inline-flex;
}

.instruments {
  width: var(--instruments-width);
  float: left;
}
.instruments>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.instruments>ul>li {
  height: var(--selection-width);
  color: #444; 
  font-size: 25px;
  padding-right: 20px;
  text-align: right;
}

.track-container {
  float: left;
  position: relative;
  
}

.segment-container {
  /* float: left; */
  padding: 0;
  margin: 0;
  height: calc(var(--selection-width) * 20);
  width: calc(var(--selection-width) * 10 * 4);
  position: relative;
  background-image:
  repeating-linear-gradient(#ccc 0 2px, transparent 2px 100%),
  repeating-linear-gradient(90deg, #ccc 0 2px, transparent 2px 100%);
  background-size: 40px 40px;
}

.playState {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}


.segment {
  background-color: #444;
  border: white solid 1px;
}

.segment.active {
  background-color: cyan;
}

button {
  border-color: white;
  border-style: solid;
  border-radius: 10;
  background-color:#444;
  color: white;
  height: 30px;
  width: 60px;
}